include LICENSE
include requirements/base.txt
include requirements/dev.txt
include samcli/local/docker/pod.yaml
recursive-include samcli/local/init/templates *
recursive-include samcli/lib *.json
prune tests
